<div class = "col-xs-12 col-md-12 shadow " style = "background-color: white; padding:5px; margin-bottom:15px; border-top :3px solid #3c8dbc; border-radius: 3px;">
    <%= f.label "Product Name" %>
    <%= f.text_field :name , :class => "form-control" %>
    <%= f.label "Product Description" %>
    <%= f.text_area :desc , :class => "form-control" %>
    <%= f.label "Product Price" %>
    <%= f.number_field :price , :class => "form-control",:step => 0.01 %>
    <%= f.label "Product Stock" %>
    <%= f.number_field :stock , :class => "form-control" %>
    <%= f.label "Shipping price per Product" %>
    <%= f.number_field :shipping_price , :class => "form-control",:step => 0.01  %>
    <%= f.check_box :_destroy %>
    <%= f.label :_destroy, "Remove Product"%>
</div>