
    <h3>Name: <%= @form.name %></h3>
    <h4>Orders: <%= @form.receipt.count %></h4>
    <h4 id = "path" data-id = "<%= @form.ref_id %>"></h4>
    <%= link_to 'Edit' , edit_form_path(@form), :class => "btn btn-success" %>
    <%= link_to 'View' , form_view_path(@form.ref_id), :class => "btn btn-primary" %>
    <a class="btn btn-warning" id = "copy" >Copy URL</a>
    <%= link_to 'Delete' , @form , method: :delete, data: {confirm: "Are you sure?"} , :class => "btn btn-danger" %>
    <br>
    <br>
        
        <div class = "col-md-12" style = "padding:0">
            <div class = "col-md-5" style = " background-color: white; padding:5px; margin-bottom:15px; border-top :3px solid #3c8dbc; border-radius: 3px;">
               <h4>Products:</h4> 
                <table class="table">
                    <thead>
                    <tr>
                        <th class = "col-md-2">Name</th>
                        <th class = "col-md-2">Price</th>
                        <th class = "col-md-1">Stock</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @form.product.each do |product| %>
                        <tr>
                            <td><%= link_to product.name , product %></td>
                            <td>RM <%= product.price %></td>
                            <td><%= product.stock %></td>
                        </tr>
                    <% end %>
                    </tbody>
                </table>
            </div>
        </div>
   
    <div class = "col-xs-12" style = "background-color: white; padding:5px; margin-bottom:15px; border-top :3px solid #3c8dbc; border-radius: 3px;">
         <h4>Receipts:</h4>
    <%= render(:partial => "/receipt/receipt_table", :locals => {:receipts => @receipts})%>
    <%= will_paginate @receipts, renderer: BootstrapPagination::Rails  %>
    </div>





