
    <h3>Name: <%= @form.name %></h3>
    <h4>Orders: <%= @form.receipt.count %></h4>
    <%= link_to 'Edit' , edit_form_path(@form), :class => "btn btn-success" %>
    <%= link_to 'View' , form_view_path(@form.ref_id), :class => "btn btn-primary" %>
    <%= link_to 'Delete' , @form , method: :delete, data: {confirm: "Are you sure?"} , :class => "btn btn-danger" %>
        <h4>Products:</h4> 
        <div class = "col-md-12">
            <div class = "col-md-5">
                <table class="table">
                    <thead>
                    <tr>
                        <th class = "col-md-2">Name</th>
                        <th class = "col-md-2">Price</th>
                        <th class = "col-md-1">Stock</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @form.product.each do |product| %>
                        <tr>
                            <td><%= link_to product.name , product %></td>
                            <td><%= product.price %></td>
                            <td><%= product.stock %></td>
                        </tr>
                    <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    <h4>Receipts:</h4> 
        <table class="table">
            <thead>
            <tr>
                <th class = "col-md-2">Reference ID</th>
                <th class = "col-md-7">Customer Name</th>
                <th class = "col-md-1">Date</th>
                <th class = "col-md-2">Status</th>
            </tr>
            </thead>
            <tbody>
            <% @form.receipt.each do |receipt| %>
                <tr>
                    <td><%= link_to receipt.ref_id , receipt %></td>
                    <td><%= receipt.customer_name %></td>
                    <td><%= l receipt.created_at , format: :default%></td>
                    <td><%= receipt.status %></td>
                </tr>
            <% end %>
            </tbody>
        </table>




