<h2>Receipt</h2>
<%= link_to 'View' , receipt_view_path(@receipt.ref_id), :class => "btn btn-primary" %>
<%= link_to 'Delete' , @receipt , method: :delete, data: {confirm: "Are you sure?"} , :class => "btn btn-danger" %>
<br>
<br>
<div class = "col-xs-12 col-md-8" style = "padding-left:0px;">
        <div class = " col-xs-12 col-md-12 " style = "background-color: white; border: 1px solid #d6dadc;" >
            <h4><label>Customer Information</label></h4>
            <hr style="margin-top:0px; margin-bottom:10px;">
            <h4>Name:
                <%= @receipt.customer_name %>
            </h4>
            <h4>Address:
                <%= @receipt.shipping_address %>
            </h4>
            <h4>Poskod:
                <%= @receipt.shipping_poskod %>
            </h4>
            <h4>Country:
                <%= @receipt.shipping_country %>
            </h4>
            <h4>State:
                <%= @receipt.shipping_state %>
            </h4>
            <h4>Phone:
                <%= @receipt.customer_phone %>
            </h4>
        </div>
        <div class = " col-xs-12 col-md-12" style = "background-color: white; border: 1px solid #d6dadc; margin-top:10px; margin-bottom:10px;" >
            <h4><label>Receipt Information</label></h4>
            <hr style="margin-top:0px; margin-bottom:10px;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th class="hidden-xs hidden-sm" >Desc</th>
                                    <th>Quantity</th>
                                    <th class="hidden-xs hidden-sm" >Price</th>
                                    <th class="hidden-xs hidden-sm" >Shipping Price</th>
                                    <th>Subtotal Price</th>
                                </tr>
                            </thead>
                            <tbody>

                                <% @receipt.productreceipt.each do |product| %>
                                    <tr>
                                        <td>
                                            <%= product.name %>
                                        </td>
                                        <td class="hidden-xs hidden-sm">
                                            <%= product.desc %>
                                        </td>
                                        <td>
                                            <%= product.qty %>
                                        </td>
                                        <td class="hidden-xs hidden-sm" >
                                            RM <%= product.price %>
                                        </td>
                                         <td class="hidden-xs hidden-sm" >
                                            RM <%= product.shipping_price %>
                                        </td>
                                        <td>
                                            RM <%= product.subtotal %>
                                        </td>
                                    </tr>
                                    <% end %>


                            </tbody>
                        </table>
</div>
</div>
        <% if  @receipt.status == "Buyer Paid" %>
        <div class = " col-xs-12 col-md-3 col-md-push-1" style = "background-color: white; border: 1px solid #d6dadc;" >
            <%= form_for @receipt, url: shipment_update_path(@receipt) do |f|  %>
                    <h4><%= f.label "Tracking Number" %></h4>
                    <hr style="margin-top:0px; margin-bottom:10px;">
                    <div class="col-xs-12 col-md-12" style="padding-left:0px;">
                        <div class="form-group">
                             <%= select("receipt", "shipping_courier", ["Pos Laju", "NinjaVan", "DHL"], :class => "form-control" ) %>
                            <%= f.text_field :shipping_number, :class => "form-control", :style =>"margin-top:8px;", required: true%>
                            <%= f.submit "Update" , :class => "btn btn-success", :style => "margin-top:10px;" %>
                        </div>
                    </div>
            <% end %>
        </div>
        <% end %>
        <div class = " col-xs-12 col-md-3  col-md-push-1" style = "background-color: white; border: 1px solid #d6dadc; margin-top:10px;" >
            <h4><label>Receipt Information</label></h4>
            <hr style="margin-top:0px; margin-bottom:10px;">
                        <h4>Status:
                            <%= @receipt.status %>
                        </h4>
                        <% if @receipt.status == "Shipped" %>
                            <h4>
                                Tracking Number :
                                <%= @receipt.shipping_number %>
                            </h4>
                            <h4>
                                Shipping Courier :
                                <%= @receipt.shipping_courier %>
                            </h4>
                        <% end %>
                        <h4>Total Price:
                            RM<%= @receipt.total %>
                        </h4>
                        <% if @receipt.pay_img? %>
                            <h4>Image Proof:</h4>
                            <%= image_tag @receipt.pay_img , :class => "img-responsive" %>
                        <% end %>
                        <h4>Text proof:
                            <%= @receipt.pay_txt %>
                        </h4>
        </div>
