<div class="container">
	<div class="row">
		<% flash.each do |key, value| %>
            <div class="col-xs-12 col-md-12">
              <div class="col-xs-12 col-md-4 col-md-push-4" style = "margin-top:2vh;">
                <div class="alert alert-<%= key %>"><%= value %>
                </div>
              </div>
            </div>
            <% end %>
		<div class="col-md-12 col-xs-12">
			<div class="col-xs-12 col-md-8 col-md-push-2 shadow" style="padding-left:0px; padding-right:0px; background-color:white;  margin-bottom:15px;">
				<div class = "col-md-4">
				<% if @company.banner? %>
					<img src="<%= @company.banner %>" class="img-rounded" alt="Cinque Terre" width="100" height="100" style = "display:block; margin: 20px auto;">
				<% elsif %>
						
					<img src="<%= asset_path"default-logo.png" %>" class="img-rounded" alt="Cinque Terre" width="100" height="100" style = "">
				<% end %>
				</div>
				<div class="col-xs-12 col-md-6">
					<div id="companyinfo">
						<h6><b><%= @company.name %></b></h6>
						<h6>
							<%= @company.address %>
						</h6>
						<h6>
							<%= @company.poskod %>,<%= @company.city %>,
						</h6>
						<h6>
							<%= @company.state %>,
						</h6>
						<h6>
							<%= @company.country %>
						</h6>
						<h6>
							<%= @company.phone %>
						</h6>
						<h6>
							<%= @company.email %>
						</h6>
					</div>
				</div>
					<% if @isreceipt == true %>
						<div class="col-xs-12" id="itemInfo" style="background-color:lightgrey;">
											<div class="col-xs-8" style="padding-left:0px; padding-right:0px;">
												<h5>Receipt Information</h5>
											</div>
						</div>
						<div id="receiptstatus" class="col-xs-12 col-md-12" style="margin-bottom:10px; margin-top:10px;">
							<% if @receipt.status == "Buyer Paid" %>
							<div class="col-xs-12 col-md-4" style="background-color:#4CAF50;">
							<% elsif @receipt.status == "Shipped" %>
							<div class="col-xs-12 col-md-4" style="background-color:cornflowerblue;">
							<% end %>
								<h5 style="color:white;text-align:center;"><b><%= @receipt.status %></b></h5>
							</div>
						</div>
						<div id="receiptid" class="col-xs-12 col-md-12" style="margin-top:10px;">
						<h5><b>Reference ID</b></h5>
						<hr style="margin-top:0px; margin-bottom:0px;">
							<div class="col-xs-12 col-md-4" style = "padding:0;" >
								<h5><%= @receipt.ref_id %></h5>
							</div>
						</div>
					<% end %>
						<% if @receipt.status == "Shipped" %>
						<div id="shipped" class="col-xs-12 col-md-12" >
						<h5><b>Tracking Information</b></h5>
						<hr style="margin-top:0px; margin-bottom:0px;">
							<div class="col-xs-12 col-md-4" style = "padding:0;" >
								<h5><%= @receipt.shipping_courier %>: <%= @receipt.shipping_number %></h5>
							</div>
						</div>

							<% end %>
									<% if @receipt.status == "Buyer Paid" or @receipt.status == "Shipped" and @isreceipt == true %>
										<div id="paymentmethod" class="col-xs-12">
											<h5><b>Shipping Information</b></h5>
											<hr style="margin-top:0px; margin-bottom:0px;">
											<h5>
												<%= @receipt.customer_name %>
											</h5>
											<h5>
												<%= @receipt.customer_email %>
											</h5>
											<h5>
												<%= @receipt.customer_phone %>
											</h5>
											<h5>
												<%= @receipt.shipping_address %>
											</h5>
											<h5>
												<%= @receipt.shipping_city %>
											</h5>
											<h5>
												<%= @receipt.shipping_poskod %>
											</h5>
											<h5>
												<%= @receipt.shipping_state %>
											</h5>
											<h5>
												<%= @receipt.shipping_country %>
											</h5>
										</div>
									<% end %>
							<% count = 1 %>
										<% if @isreceipt  == true and @receipt.status == "Waiting Payment" %>

										<% elsif @isreceipt == true and @receipt.status != "Waiting Payment" %>
										<div id="paymentproof" class="col-xs-12" style = "margin-bottom:10px;">
											<h5><b>Proof of payment</b></h5>
											<hr style="margin-top:0px; margin-bottom:0px;">
											<hr style="margin-top:0px; ">
												<% if @receipt.pay_img? %>
													<img src="<%= @receipt.pay_img %>" class="img-rounded myImg" alt="Cinque Terre" width=auto height="200"  alt = "Payment Proof" id = "myImg" count = "<%= count.to_s %>"  , modeldata =  "<%= "myModal" + count.to_s %>">
												<% end %>
												<% if @receipt.pay_txt? %>
													<h5><%= @receipt.pay_txt %></h5>
												<% end %>
										</div>
										<!-- The Modal -->
										<div id="<%= "myModal" + count.to_s %>" class="modal">
															<!-- The Close Button -->
															<span class="closeimg" id = "<%= "closeimg" + count.to_s %>" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

															<!-- Modal Content (The Image) -->
															<img class="modal-content" id="<%= "img" + count.to_s %>" >

															<!-- Modal Caption (Image Text) -->
															<div id = "caption"><%= @receipt.pay_txt %></div>
											</div>
											
										<% end %>

										<div class="col-xs-12" id="itemInfo" style="background-color:lightgrey;">
											<div class="col-xs-8" style="padding-left:0px; padding-right:0px;">
												<h5>Items</h5>
											</div>
											<div class="col-xs-4">
												<h5 style="text-align: right;">Amount</h5>
											</div>
										</div>
										<%= form_for @receipt , url: receipt_index_path(@form_ref), html: { multipart: true } do |f| %>
										<div class="col-xs-12" id="productInfo">
												<%=  f.hidden_field :form_id %>
													<% counter = 0 %>
														<%=  f.fields_for :productreceipt do |p| %>
															<div class="col-xs-8" style="padding-left:0px; padding-right:0px;">
																<%=  p.hidden_field :product_id %>
																<h5>
																	<%= p.object.name %>
																</h5>

																<h5>
																	<%= p.object.desc %>
																</h5>
															</div>
															<div class="col-xs-4">
																<h5 style="text-align: right;">RM<span class="price"><%= p.object.price %></span></h5>
															</div>
														<div class = "col-xs-12" style = "padding:0;">
															<div class="col-xs-4 col-sm-8" style="padding-left:0px; padding-right:0px;  ">
																<h5 style = "text-align: right;">Quantity: </h5>
															</div>
															<div class = "col-xs-8 col-sm-4">
																	<% if @isreceipt == true %>
																		<h5 style = "text-align:right;"><span>x<%= p.object.qty %></span></h5>
																	<% elsif %>
																	<div class="input-group col-xs-12 col-md-8 col-md-push-4">
																		<span class="input-group-btn">
																			<button type="button" class="btn btn-danger btn-number" data-type="minus" data-field="<%= counter.to_s %>">
																				<span class="glyphicon glyphicon-minus"></span>
																			</button>
																		</span>
																		<%= p.number_field :qty , :class => "qty form-control", :data => p.object.price, :sub => counter, :shipping => p.object.shipping_price, :ship_id => "shipping_" + counter.to_s, :min => "0", :style => "text-align:center;" %>
																		<span class="input-group-btn">
																			<button type="button" class="btn btn-success btn-number" data-type="plus" data-field="<%= counter.to_s %>">
																				<span class="glyphicon glyphicon-plus"></span>
																			</button>
																		</span>
																	</div>
																	<% end %>
															</div>
										</div>
															<div class = "col-xs-12" style = "padding:0;">
															<div class="col-xs-4 col-sm-8" style="padding-left:0px; padding-right:0px;">
																<h5 style="text-align:right;">Shipping Price:</h5>
															</div>
															<div class="col-xs-8 col-sm-4">
																<h5 style="text-align: right;"><b>RM
																		<% if @isreceipt == true %>
																		<span><%= p.object.shipping_price %> </span>
																		<% elsif %>
																		<span id = <%= "shipping_" + counter.to_s %> >0.00</span>
																		<% end %>
																	</b>
																</h5>
															</div>
															</div>
															<div class="col-xs-4 col-sm-8" style="padding-left:0px; padding-right:0px;">
																<h5 style="text-align:right;">Subtotal:</h5>
															</div>
															<div class="col-xs-8 col-sm-4">
																<h5 style="text-align: right;"><b>RM
																		<% if @isreceipt == true %>
																		<span><%= p.object.subtotal %> </span>
																		<% elsif %>
																		<span id = <%= counter %> >0.00</span>
																		<% end %>
																	</b>
																</h5>
															</div>
															<div class="col-xs-12" style="padding-left:0px; padding-right:0px;">
																<hr>
															</div>
															
															<% counter = counter + 1 %>
																<% end %>
																	<div class="col-xs-8" style="padding-left:0px; padding-right:0px;">
																		<h3 style="text-align:right;"><b>Total:</b></h3>
																	</div>
																	<div class="col-xs-4">
																		<% if @isreceipt == true %>
																			<h3 style="text-align: right;"><b>RM<span id = "total"><%= @receipt.total %></span></b></h3>
																		<% elsif %>
																			<h3 style="text-align: right;"><b>RM<span id = "total">0.00</span></b></h3>
																		<% end %>
																	</div>
										</div>
										<% if @isreceipt == false %>
										<% if @receipt.errors.any? %>
										<div id="error_explanation">
											<h2><%= pluralize(@receipt.errors.count, "error") %> prohibited this mark from being saved:</h2>
										
											<ul>
											<% @receipt.errors.full_messages.each do |msg| %>
											<li><%= msg %></li>
											<% end %>
											</ul>
										</div>
										<% end %>
											<div id="shipto" class="col-xs-12" style="background-color:#298fca; color:white;">
												<h3 style="text-align:center;">Shipment Details</h3>
													<div class="form-group">
														<%= f.label "Customer Name" %>
															<%= f.text_field :customer_name , :class => "form-control", required: true %>
													</div>
													<div class="form-group">
														<%= f.label "Customer Email" %>
															<%= f.email_field :customer_email , :class => "form-control", required: true  %>
													</div>
													<div class="form-group">
														<%= f.label "Customer Phone" %>
															<%= f.text_field :customer_phone , :class => "form-control", required: true  %>
													</div>

													<div class="form-group">
														<%= f.label "Address" %>
															<%= f.text_area :shipping_address , :class => "form-control", required: true  %>
													</div>
													<div class="form-group">
														<%= f.label "Poskod" %>
															<%= f.text_field :shipping_poskod , :class => "form-control", required: true  %>
													</div>
													<div class="form-group">
														<%= f.label "City" %>
															<%= f.text_field :shipping_city , :class => "form-control", required: true  %>
													</div>
													<div class="form-group">
														<%= f.label "State" %>
															<%= f.text_field :shipping_state , :class => "form-control", required: true  %>
													</div>
													<div class="form-group">
														<%= f.label "Country" %>
															<%= f.text_field :shipping_country , :class => "form-control", required: true  %>
													</div>
										<div id="paymentmethod" class="col-xs-12" style = "background-color:#42548e; color:white; margin-bottom: 10px;">
											<h5><b>Payment Method</b></h5>
											<hr style="margin-top:0px; margin-bottom:0px;">
											<h5>
												<%= @company.payment_method %>
											</h5>
										</div>
												<div class = "col-xs-12" style = "background-color:#36405f; color:white; margin-bottom:10px;">
													<h5><b>Proof of payment</b></h5>
													<hr style="margin-top:0px; margin-bottom:0px;">
													<div class = "col-xs-12 col-md-6" style = "padding-left:0px;">
														<div class = "form-group">
																<%= f.label "Image" %>
																<%= f.file_field :pay_img, required: true %>
																<%= f.label "Text" %>
																<%= f.text_area :pay_txt, :class => "form-control" %>
														</div>
													</div>
												</div>

													<%= f.submit  "Submit Order" , :class => "btn btn-success col-xs-12" , :style => "margin-bottom:10px;"%>
														<h6>By clicking submit order you agree that all the information provided below is correct.</h6>
											</div>
											<% end %>
									<% end %>
			</div>
		</div>
	</div>
</div>