<div class="container">
	<div class="row">
		<div class="col-md-12 col-xs-12">
			<div class="col-xs-12 col-md-8 col-md-push-2 shadow" style="padding-left:0px; padding-right:0px; background-color:white;  margin-bottom:4px;">
				<div id="banner" style = "background-image: url(<%= @company.banner %>); background-size:cover; height: 200px;">
				</div>
				<div class="col-xs-12 ">
					<div id="companyinfo">
						<h5><b><%= @company.name %></b></h5>
						<h5>
							<%= @company.address %>
						</h5>
						<h5>
							<%= @company.district %>
						</h5>
						<h5>
							<%= @company.poskod %>
						</h5>
						<h5>
							<%= @company.phone %>
						</h5>
						<h5>
							<%= @company.email %>
						</h5>
					</div>
				</div>
					<% if @isreceipt == true %>
						<div id="receiptstatus" class="col-xs-12 col-md-12" style="margin-bottom:10px; margin-top:10px;">
							<div class="col-xs-8 col-md-4" style="background-color:#4CAF50;">
								<h5 style="color:white;text-align:center;"><b><%= @receipt.status %></b></h5>
							</div>
						</div>
					<% end %>
						<% if @receipt.status == "Shipped" %>
							<div id="shipped" class="col-xs-12 col-md-12">
								<h5>
									<%= @receipt.courrier %>
								</h5>
								<h5>
									<%= @receipt.shipping_number %>
								</h5>
							</div>
							<% end %>
										<div id="paymentmethod" class="col-xs-12">
											<h5><b>Payment Method</b></h5>
											<hr style="margin-top:0px; margin-bottom:0px;">
											<h5>
												<%= @company.payment_method %>
											</h5>
										</div>
										<% if @isreceipt  == true and @receipt.status == "Waiting Payment"%>
											<%= form_for @receipt, url: payment_update_path(@receipt.ref_id) , html: { multipart: true } do |f|  %>
												<div class = "col-xs-12">
													<h5><b>Proof of payment</b></h5>
													<hr style="margin-top:0px; margin-bottom:0px;">
													<div class = "col-xs-12 col-md-6" style = "padding-left:0;px">
														<div class = "form-group">
																<%= f.label "Image" %>
																<%= f.file_field :pay_img %>
																<%= f.label "Text" %>
																<%= f.text_area :pay_txt, :class => "form-control" %>
																<%= f.submit "Upload" , :class => "btn btn-success", :style => "margin-top:10px;" %>
														</div>
													</div>
												</div>
											<% end %>
										<% else %>
										<div id="paymentproof" class="col-xs-12">
											<h5><b>Proof of payment</b></h5>
											<hr style="margin-top:0px; margin-bottom:0px;">
											<hr style="margin-top:0px; ">
												<%= image_tag @receipt.pay_img if @receipt.pay_img? %>
												<% if @receipt.pay_txt? %>
													<h5><%= @receipt.pay_txt %></h5>
												<% end %>
										</div>
											
										<% end %>
									<% if @receipt.status == "Waiting Payment" and @isreceipt == true %>
										<div id="paymentmethod" class="col-xs-12">
											<h5><b>Shipping Information</b></h5>
											<hr style="margin-top:0px; margin-bottom:0px;">
											<h5>
												<%= @receipt.customer_name %>
											</h5>
											<h5>
												<%= @receipt.customer_email %>
											</h5>
											<h5>
												<%= @receipt.customer_phone %>
											</h5>
											<h5>
												<%= @receipt.shipping_address %>
											</h5>
											<h5>
												<%= @receipt.shipping_poskod %>
											</h5>
											<h5>
												<%= @receipt.shipping_state %>
											</h5>
											<h5>
												<%= @receipt.shipping_country %>
											</h5>
										</div>
									<% end %>
										<div class="col-xs-12" id="itemInfo" style="background-color:lightgrey;">
											<div class="col-xs-8" style="padding-left:0px; padding-right:0px;">
												<h5>Items</h5>
											</div>
											<div class="col-xs-4">
												<h5 style="text-align: right;">Amount</h5>
											</div>
										</div>
										<div class="col-xs-12" id="productInfo">
											<%= form_for @receipt , url: receipt_index_path(@form) do |f| %>
												<%=  f.hidden_field :form_id %>
													<% counter = 0 %>
														<%=  f.fields_for :productreceipt do |p| %>
															<div class="col-xs-8" style="padding-left:0px; padding-right:0px;">
																<%=  p.hidden_field :product_id %>
																<h5>
																	<%= p.object.name %>
																</h5>

																<h5>
																	<%= p.object.desc %>
																</h5>
															</div>
															<div class="col-xs-4">
																<h5 style="text-align: right;">RM<span class="price"><%= p.object.price %></span></h5>
															</div>
															<div class="col-xs-8" style="padding-left:0px; padding-right:0px;  ">
																<h5>Quantity: </h5>
																	<% if @isreceipt == true %>
																		<span><%= p.object.qty %></span>
																	<% elsif %>
																		<%= p.number_field :qty , :class => "qty", :data => p.object.price, :sub => counter %>
																	<% end %>
																
															</div>
															<div class="col-xs-8" style="padding-left:0px; padding-right:0px;">
																<h5 style="text-align:right;">Subtotal:</h5>
															</div>
															<div class="col-xs-4">
																<h5 style="text-align: right;"><b>RM
																		<% if @isreceipt == true %>
																		<span><%= p.object.subtotal %> </span>
																		<% elsif %>
																		<span id = <%= counter %> ></span>
																		<% end %>
																	</b>
																</h5>
															</div>
															<div class="col-xs-12" style="padding-left:0px; padding-right:0px;">
																<hr>
															</div>
															
															<% counter = counter + 1 %>
																<% end %>
																	<div class="col-xs-8" style="padding-left:0px; padding-right:0px;">
																		<h5>Shipping:</h5>
																	</div>
																	<div class="col-xs-4">
																		<h5 style="text-align: right;"><b>RM<span id = "shippingprice">52.58</span></b></h5>
																	</div>
																	<div class="col-xs-12" style="padding-left:0px; padding-right:0px;">
																		<hr>
																	</div>
																	<div class="col-xs-8" style="padding-left:0px; padding-right:0px;">
																		<h3 style="text-align:right;"><b>Total:</b></h3>
																	</div>
																	<div class="col-xs-4">
																		<% if @isreceipt == true %>
																			<h3 style="text-align: right;"><b>RM<span id = "total"><%= @receipt.total %></span></b></h3>
																		<% elsif %>
																			<h3 style="text-align: right;"><b>RM<span id = "total">0.00</span></b></h3>
																		<% end %>
																	</div>
										</div>
										<% if @isreceipt == false %>
											<div id="shipto" class="col-xs-12" style="background-color:#298fca; color:white;">
												<h3 style="text-align:center;">Shipment Details</h3>
													<div class="form-group">
														<%= f.label "Customer Name" %>
															<%= f.text_field :customer_name , :class => "form-control" %>
													</div>
													<div class="form-group">
														<%= f.label "Customer Email" %>
															<%= f.email_field :customer_email , :class => "form-control" %>
													</div>
													<div class="form-group">
														<%= f.label "Customer Phone" %>
															<%= f.text_field :customer_phone , :class => "form-control" %>
													</div>

													<div class="form-group">
														<%= f.label "Address" %>
															<%= f.text_area :shipping_address , :class => "form-control" %>
													</div>
													<div class="form-group">
														<%= f.label "Poskod" %>
															<%= f.number_field :shipping_poskod , :class => "form-control" %>
													</div>
													<div class="form-group">
														<%= f.label "State" %>
															<%= f.text_field :shipping_state , :class => "form-control" %>
													</div>
													<%= f.submit  "Submit" , :class => "btn btn-success col-xs-12" , :style => "margin-bottom:10px;"%>
														<h6>By clicking submit you agree that all the information provided below is correct.</h6>
											</div>
											<% end %>
									<% end %>
			</div>
		</div>
	</div>
</div>