<h1>PRODUCT</h1>
<% if @products.exists? %>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Desc</th>
            <th>Quantity</th>
            <th>Total Price</th>
        </tr>
    </thead>
    <tbody>

        <% @products.each do |product| %>
            <tr>
                <td>
                    <%= product.name %>
                </td>
                <td>
                    <%= product.desc %>
                </td>
                <td>
                    <%= product.stock %>
                </td>
                <td>
                    <%= product.price %>
                </td>
            </tr>
            <% end %>


    </tbody>
</table>
<% else %>
    <p>DOES NOT EXIST</p>
<% end %>
<%= link_to 'add', new_product_path%>
