<h2>PRODUCT</h2>
<div class = "col-xs-12 shadow" style = " background-color: white; padding:5px; margin-bottom:15px; border-top :3px solid #3c8dbc; border-radius: 3px;">
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Desc</th>
            <th>Quantity</th>
            <th>Total Price</th>
        </tr>
    </thead>
    <tbody>

        <% @products.each do |product| %>
            <tr>
                <td>
                    <%= product.name %>
                </td>
                <td>
                    <%= product.desc %>
                </td>
                <td>
                    <%= product.stock %>
                </td>
                <td>
                    <%= product.price %>
                </td>
            </tr>
            <% end %>


    </tbody>
</table>
<%= will_paginate @products, renderer: BootstrapPagination::Rails  %>
</div>
