<h2>Product</h2>
<%= link_to 'Edit' , edit_product_path(@product), :class => "btn btn-success" %>
<br>
<br>
<div class = "col-md-12" style = "padding:0">
    <div class = "col-md-5 shadow" style = " background-color: white; padding:5px; margin-bottom:15px; border-top :3px solid #3c8dbc; border-radius: 3px;">
 
            <h4><label><%= @product.name %></label></h4>
            <hr style="margin-top:0px; margin-bottom:10px;">
            <h4>
                Description: <%= @product.desc %>
            </h4>
            <h4>
                Price: RM <%= @product.price %>
            </h4>
            <h4>
                Shipping Price: RM <%= @product.shipping_price %>
            </h4>
            <h4>
                Stock: <%= @product.stock %>
            </h4>
        </div>
</div>
