<h2>Edit Company</h2>
<div class = "col-xs-12 col-md-4" style = "background-color: white; padding:5px; margin-bottom:15px; border-top :3px solid #3c8dbc; border-radius: 3px;">
    <% if @company.errors.any? %>
        <div class = "col-xs-12 col-md-12" id="error_explanation">
            <ul>
            <% @company.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    <% end %>
    <%= form_for @company, html: { multipart: true } do |f|  %>
        <div class = "form-group">
                <%= f.label :name %>
                <%= f.text_field :name, :class => "form-control" %>
                <%= f.label :address %>
                <%= f.text_area :address, :class => "form-control" %>
                <%= f.label :poskod %>
                <%= f.text_field :poskod, :class => "form-control" %>
                <%= f.label :city %>
                <%= f.text_field :city, :class => "form-control" %>
                <%= f.label :state %>
                <%= f.text_field :state, :class => "form-control" %>
                <%= f.label :country %>
                <%= f.text_field :country, :class => "form-control" %>
                <%= f.label :email %>
                <%= f.text_field :email, :class => "form-control" %>
                <%= f.label :phone %>
                <%= f.text_field :phone, :class => "form-control" %>
                <%= f.label :payment_method %>
                <%= f.text_area :payment_method, :class => "form-control" %>
                <%= f.label "Logo" %>
                <% if @company.banner? %>
                    <img src="<%= @company.banner %>" class="img-rounded" alt="Cinque Terre" width="100" height="100" style = " display:block; margin:auto;">
                <% elsif %>
                        
                                <img src="<%= asset_path"default-logo.png" %>" class="img-rounded" alt="Cinque Terre" width="100" height="100" style = " display:block; margin:auto;">
                <% end %>
                <%= f.file_field :banner %>
                <%= f.submit "Edit" , :class => "btn btn-success", :style => "margin-top:10px;" %>
        </div>
    <% end %>
</div>