<h2>COMPANY</h2>
<div class = "col-xs-12 col-md-12" style = "padding-left:0; margin-bottom:15px;">
    <%= link_to 'Edit', edit_company_path(@company), :class =>"btn btn-success" %>
</div>
<div class = "col-xs-12 col-md-8" style = "background-color: white; padding:5px; margin-bottom:15px; border-top :3px solid #3c8dbc; border-radius: 3px;">
    <div class = "col-xs-12" style = "padding:0;">   
        <% if @company.banner? %>
            <img src="<%= @company.banner %>" class="img-rounded" alt="Cinque Terre" width="100" height="100" style = " display:block; margin:auto;">
        <% elsif %>
                
                        <img src="<%= asset_path"default-logo.png" %>" class="img-rounded" alt="Cinque Terre" width="100" height="100" style = " display:block; margin:auto;">
        <% end %>
    </div>
    <div class = "col-xs-12">
        <h5>Name: <%= @company.name %></h5>
        <h5>Address: <%= @company.address %></h5>
        <h5>Poskod: <%= @company.poskod %></h5>
        <h5>City: <%= @company.city %></h5>
        <h5>State: <%= @company.state %></h5>
        <h5>Country: <%= @company.country %></h5>
        <h5>Email: <%= @company.email %></h5>
        <h5>Phone: <%= @company.phone %></h5>
        <h5>Payment Method: <%= @company.payment_method %></h5>
    </div>
</div>

