<h2>COMPANY</h2>
<div class = "col-xs-12 col-md-12" style = "padding-left:0;">
    <%= link_to 'edit', edit_company_path(@company), :class =>"btn btn-success" %>
</div>
<div class = "col-xs-12 col-md-8" style = "background-color: white; border: 1px solid #d6dadc; margin-top:10px; margin-bottom:10px; padding:0;">
    <div class = "col-xs-12" style = "padding:0;">   
        <% if @company.banner? %>
            <div id="banner" style = "background-image: url(<%= @company.banner %>); height: 200px;">
        <% end %>
    </div>
    <div class = "col-xs-12">
        <h5>Name: <%= @company.name %></h5>
        <h5>Address: <%= @company.address %></h5>
        <h5>Poskod: <%= @company.poskod %></h5>
        <h5>City: <%= @company.city %></h5>
        <h5>State: <%= @company.state %></h5>
        <h5>Country: <%= @company.country %></h5>
        <h5>Email: <%= @company.email %></h5>
        <h5>Phone: <%= @company.phone %></h5>
        <h5>Payment Method: <%= @company.payment_method %></h5>
    </div>
</div>

