<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag "navbar-fixed-side" %>
    
  </head>

  <navbar>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-lg-2">
          <nav class="navbar navbar-default navbar-fixed-side" style = "border: 0; background-color: #222d32;">
           <div class="navbar-header" style = "background-color: #367fa9;">
                <%= link_to "EasyOrder", dashboard_path, :class => "navbar-brand col-xs-6 col-sm-12", :style => "color:white; text-align:center;" %>
              <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" style="border: 0; color: #b8c7ce;">

                <ul class="nav navbar-nav">

                  <li class="dropdown "><a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: #4b646f; background-color: #1a2226 !important;padding-bottom:10px;">Dashboard<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                  <li class = "<%= active_class(dashboard_path) %>"> <%= link_to "View", dashboard_path, :style => "color: #b8c7ce; border-left: 3px solid transparent;"  %> </li>
                    </ul>
                  </li>


                  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: #4b646f; background-color: #1a2226 !important;padding-bottom:10px;">Forms<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li class = "<%= active_class(form_index_path) %>"> <%= link_to "View", form_index_path , :style => "color: #b8c7ce; border-left: 3px solid transparent;" %> </li>
                      <li class = "<%= active_class(new_form_path) %> "> <%= link_to "Create", new_form_path, :style => "color: #b8c7ce; border-left: 3px solid transparent;"  %> </li>
                    </ul>
                  </li>
                  <li class="dropdown "><a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: #4b646f; background-color: #1a2226 !important;padding-bottom:10px;">Receipt<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <%= active_link_to 'View All',  receipt_index_path(status:0), :active => /status=0/, :wrap_tag => :li, :style => "color: #b8c7ce; border-left: 3px solid transparent;"   %>
                      <%= active_link_to 'Waiting Payment',  receipt_index_path(status:1), :active => /status=1/, :wrap_tag => :li, :style => "color: #b8c7ce; border-left: 3px solid transparent;"   %> 
                      <%= active_link_to 'Buyer Paid',  receipt_index_path(status:2), :active => /status=2/, :wrap_tag => :li, :style => "color: #b8c7ce; border-left: 3px solid transparent;"   %> 
                      <%= active_link_to 'Shipped',  receipt_index_path(status:3), :active => /status=3/, :wrap_tag => :li, :style => "color: #b8c7ce; border-left: 3px solid transparent;"   %> 
                    </ul>
                  </li>

                  <li class="dropdown "><a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: #4b646f; background-color: #1a2226 !important;padding-bottom:10px;">Products<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                  <li class = "<%= active_class(product_index_path) %>"> <%= link_to "View", product_index_path, :style => "color: #b8c7ce; border-left: 3px solid transparent;"  %> </li>
                    </ul>
                  </li>

                  <li class="dropdown "><a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: #4b646f; background-color: #1a2226 !important;padding-bottom:10px;">Profile<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                  <li class = "<%= active_class(company_index_path) %>"> <%= link_to "Company", company_index_path, :style => "color: #b8c7ce; border-left: 3px solid transparent;"  %> </li>
                  <li>
                    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
                  </li>
                    </ul>
                  </li>

            </div>
          </nav>
        </div>

        <div class="col-sm-9 col-lg-10" style = "padding:0;background-color:#ecf0f5; min-height: 100vh; overflow: hidden;">
            <div class="navbar navbar-fixed-top col-md-12 hidden-xs " style = "background-color:#3c8dbc; border: 0;">
       
            </div>
            <div class="navbar navbar-static-top col-md-12 hidden-xs " style = "background-color:#3c8dbc; border: 0;">
       
            </div>
            <!-- Trigger the modal with a button -->
            <% if !flash.empty? %>
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" id = "open-modal" style = "display:none;">Open Modal</button>

            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Info</h4>
                  </div>
                  <div class="modal-body">
                        <% flash.each do |key, value| %>
                          <%= value %>
                        <% end %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>
            <% end %>


            <div class="col-md-12 col-xs-12">
              <%= yield %>
            </div>
        </div>
      </div>
    </div>
  </navbar>
  <body>
  </body>
</html>
